@import 'bootstrap/dist/css/bootstrap';

.search-area{
    padding-top: 50px;
}

.no-right-padding{
    padding-right: 5px;
}

.no-left-padding{
    padding-top: -5px;
    padding-left: 0 !important;
}

.results-block{
    display: inline-block;
    margin-bottom: 1rem;
    background-color: rgb(87, 219, 219);
}

.logout-button{
    margin-right: 5px;
}


.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}